---
---

@import "{{ site.theme }}";

#menu { width: 100%; margin-bottom: 20px; }

#menu ul { padding: 0; text-align: center; }

#menu li { font-family: 'OpenSansLight', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-weight: normal; list-style: none; display: inline; color: white; line-height: 50px; text-shadow: 0px 1px 0px rgba(0,0,0,0.2); font-size: 14px; }

#menu li a { color: white; border: 1px solid #5d910b; background: linear_gradient(#93bd20, #659e10); border-radius: 2px; box-shadow: inset 0px 1px 0px rgba(255,255,255,0.3),0px 3px 7px rgba(0,0,0,0.7); background-color: #93bd20; padding: 10px 12px; margin-top: 6px; line-height: 14px; font-size: 14px; display: inline-block; text-align: center; }

#menu li a:hover { background-color: #659e10; border: 1px solid #527f0e; box-shadow: inset 0px 1px 1px rgba(0,0,0,0.2), 0px 1px 0px transparent; };
