<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

	{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
      <div id="header">
        <nav>
          <li class="fork"><a href="https://forum.xda-developers.com/zenfone2/development/rom-groovy-android-t3756429" target="_blank">XDA Forum Thread</a></li>
          <li class="downloads"><a href="http://groovyandroid.ga/downloads">DOWNLOAD</a></li>
          <li class="title">LATEST BUILDS</li>
        </nav>
      </div><!-- end header -->

    <div class="wrapper">

      <section>
        <div id="title">
          <h1>Groovy Android Zenfone 2</h1>
          <p>ASUS Z00A, Z008, Z00D and Z00L devices</p>
			<div id="menu">
	       	  <ul>
				{% for item in site.data.menu.docs %}
				<li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
				{% endfor %}
			  </ul>
          </div>
          <hr>
          <span class="credits left">Resurrecton Remix <a href="http://www.resurrectionremix.com/" target="_blank">resurrectionremix.com</a></span>
          <span class="credits right">Thanks to all the <a href="credits">devs and teams</a></span>
        </div>

        {{ content }}

      </section>

    </div>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}

  </body>
</html>

